
/*Font*/
*{
	font-family: Open sans; 
	font-weight: lighter;
}


/*Header*/
.backgray{
	background-color: #191919;
	width: 1170px;
	height: 100px;
	margin-left: -15px;
	color: white;
}

.the{
	font-size: 40px;
	margin-top: 20px;
	color: white;
	margin-left: 10px;
}

.gentleman{
	font-size: 40px;
	margin-left: 80px;
	margin-top: -55px;
	color: white;
	font-weight: bold;
}

.homec{
	color: #FB057F;
	margin-top: 40px;
	margin-left: -10px;
}

.controlmenu{
	margin-left: -50px;
}


.menu{
	float: left;
	list-style: none;
	margin-top: 40px;
	margin-left: 20px;
}

/*Final Header*/
/*Section*/
/*Bloque 1*/

.fullbackgray{ /*Fondo gris para toda la página*/
	background-color: #D2D2D2;
	width: 1170px;
	margin-left: 47px;
}

.backwhite1{
	background-color: white;
	width: 700px;
	height: 400px;
	margin-left: 220px;
}

.cityimg{
	width: 400px;
	height: 300px;
}
.espacio{
	margin-top: 40px;
}

.tittle1{
	margin-left: 10px;
	margin-top: 30px;
	font-size: 20px;
}

.ptext1{
	margin-left: 10px;
	margin-top: 20px;
}

.button1{
	background-color: gray;
	border-radius: 100px;
	width: 100px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
}

.textbutton{
	color:white;
	font-weight: bold;
	margin-top: -25px;
	margin-left: 18px;
}


/*Final Section*/
/*Section*/
/*Bloque2*/

.backwhite2{
	background-color: white;
	width: 700px;
	height: 400px;
	margin-left: 220px;
}

/*Columnas*/

.tamaño{
	width: 300px;
	margin-left: 25px;
}

.alinetext{
	margin-left: 25px;
}

/*Boton columnas*/

.button2{
	background-color: gray;
	border-radius: 100px;
	width: 150px;
	height: 50px;
	margin-left: 250px;
	margin-top: 40px;
}

.textbuttonc{
	color:white;
	font-weight: bold;
	margin-top: -35px;
	margin-left: 285px;
}

/*Twitter*/

.twittersize{
	width: 90px;
}

.textp2{
	margin-left: 230px;
	margin-top: -60px;
}

/*Final Bloque 2*/

/*Footer*/

.backgrayfooter{
	background-color: #191919;
	width: 1170px;
	height: 300px;
	margin-left: 45px;
	color: white;
	margin-top: 800px;
}

.lasttext1{
	font-weight: bold;
	margin-left: 100px;
	margin-top: 30px;
}

li{
	list-style: none;
	margin-left: 170px;
}

ul{
	margin-top: 15px;
}